Data/Cargill Fort Morgan 03 28 22 Plant/Cargill Fort Morgan Images/0000243436-1c.jpg
Data/Cargill Fort Morgan 03 28 22 Plant/Cargill Fort Morgan Images/0000243440-1c.jpg
Data/Cleaned JPEG Images
Data/Not Yet Cleaned
Data/Other
Data/TIF Image Sets
